<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boot.dao.zkyx.ExamPointMapper">

    <insert id="insert" parameterType="ExamPoint">
         insert into total_kd(kd_id, kd_name, post_code) values (#{kd_id}, #{kd_name}, #{post_code})
    </insert>

    <select id="count" parameterType="ExamPoint" resultType="java.lang.Integer">
        select count(*) from total_kd where kqu_id = #{kqu_id}
    </select>

    <delete id="delete" parameterType="ExamPoint">
        delete from total_kd where kd_id = #{kd_id}
    </delete>

    <select id="count_cap" parameterType="ExamPoint" resultType="java.lang.Integer">
        select sum(cap_num) from total_kd where kqu_id = #{kqu_id}
    </select>
    
    <select id="get_list" parameterType="ExamPoint" resultType="ExamPoint">
        select * from total_kd where kqu_id = #{kqu_id};
    </select>

</mapper>
