<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boot.dao.zkyx.GroupRegisterMapper">
    <!--使用 useGeneratedKeys="true" keyProperty="studentId" 将数据库生成的主键返回并注入studentId-->
    <insert id="insert" parameterType="Group_register">
        insert into student_info(
        zkao_num, stu_name, sex, zj_type,
        zj_num, age, nation, zzmm,
        huji_type, bk_level, bk_major, phone,
        health, stu_type, yy_xueji_school_id, stu_img,
        sz_num, qx_num, taget_school_id, op_time,
        bm_state)
        values(
            #{zkaoNum}, #{stuName}, #{sex}, #{zjType},
            #{zjNum}, #{age}, #{nation}, #{zzmm},
            #{hujiType}, #{bkLevel}, #{bkMajor}, #{phone},
            #{health}, #{stuType}, #{yyXuejiSchoolId}, #{stuImg},
            #{szNum}, #{qxNum}, #{tagetSchoolId}, #{opTime},
            #{bmState})
    </insert>

</mapper>