<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boot.dao.zkyx.StudentMapper">

    <select id="query_student" parameterType="Student" resultType="Student">
        select * from student_info where student_id = #{student_id}
    </select>

    <update id="alter_county" parameterType="Student">
        update student_info set qx_num = #{qx_num} where student_id = #{student_id}
    </update>

</mapper>
