<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boot.dao.ExamMapper">
    <insert id="insert" parameterType="Exam">
        insert into exam(kc_code,type_name) values(#{kc_code},#{type_name})
    </insert>

    <select id="find_max" parameterType="Exam" resultType="Exam">
        select kc_code from exam where type_name=#{type_name} order by kc_code desc limit 1
    </select>

    <select id="findExam" parameterType="Exam" resultType="Exam">
        select exam_id, kc_code, type_name from exam where kc_code=#{kc_code} and type_name=#{type_name}
    </select>

    <select id="allExam" resultType="Exam">
        select kc_code, type_name from exam
    </select>
</mapper>