<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boot.dao.Kb_statisticMapper">

    <select id="getList_1" resultType="Kb_statistic" parameterType="Kb_statistic">
          select  v.start_time,v.end_time,v.kd_id,o.kd_name
 	         from certain_kaotang_info v
 	         left join district d on v.kqu_id=concat(d.city_code,d.district_code)
 	         left join total_kd o on v.kd_id=o.kd_id
 	         where v.kc_code=#{kc_code} and v.type_name=#{type_name} and d.city_code=#{city_code}

    </select>

    <select id="getList_2" resultType="Kb_statistic" parameterType="Kb_statistic">
          select  v.start_time,v.end_time,v.kd_id,o.kd_name
 	         from certain_kaotang_info v
 	         left join district d on v.kqu_id=concat(d.city_code,d.district_code)
 	         left join total_kd o on v.kd_id=o.kd_id
 	         where v.kc_code=#{kc_code} and v.type_name=#{type_name} and d.city_code=#{city_code} and d.district_code=#{district_code}

    </select>

    <select id="getFenjuan1" resultType="Kb_statistic" parameterType="Kb_statistic">
        select
        v.kc_code,v.type_name,o.name,d.kqu_name,count(student_id) sum_fenjuan
        from student_bk v
       LEFT JOIN courses o on v.bk_course_id = o.course_id
       LEFT JOIN district d on v.kqu_id = concat(d.city_code , d.district_code)
       where v.kc_code = #{kc_code} and v.type_name = #{type_name} and d.city_code=#{city_code}
       GROUP BY o.name,d.kqu_name
    </select>

    <select id="getFenjuan2" resultType="Kb_statistic" parameterType="Kb_statistic">
        select
        v.kc_code,v.type_name,o.name,d.kqu_name,count(student_id) sum_fenjuan
        from student_bk v
       LEFT JOIN courses o on v.bk_course_id = o.course_id
       LEFT JOIN district d on v.kqu_id = concat(d.city_code , d.district_code)
       where v.kc_code = #{kc_code} and v.type_name = #{type_name} and d.city_code=#{city_code} and d.district_code=#{district_code}
       GROUP BY o.name,d.kqu_name
    </select>

    <select id="getJDlist1" resultType="Kb_statistic" parameterType="Kb_statistic">
        SELECT
        v.kc_code,v.type_name,v.course_id,o.name,e.juandai_spec,COUNT(s.bk_course_id) sum
        FROM total_exam_course v
        LEFT JOIN courses o on v.course_id = o.course_id
        LEFT JOIN exam e on v.kc_code = e.kc_code and v.type_name = e.type_name
        LEFT JOIN student_bk s on v.kc_code = s.kc_code and v.type_name = s.type_name and v.course_id = s.bk_course_id
        LEFT JOIN district d on s.kqu_id=concat(d.city_code,d.district_code)
        where v.kc_code=#{kc_code} and v.type_name =#{type_name} and d.city_code=#{city_code}
        GROUP BY s.bk_course_id
    </select>

    <select id="getJDlist2" resultType="Kb_statistic" parameterType="Kb_statistic">
        SELECT
        v.kc_code,v.type_name,v.course_id,o.name,e.juandai_spec,COUNT(s.bk_course_id) sum
        FROM total_exam_course v
        LEFT JOIN courses o on v.course_id = o.course_id
        LEFT JOIN exam e on v.kc_code = e.kc_code and v.type_name = e.type_name
        LEFT JOIN student_bk s on v.kc_code = s.kc_code and v.type_name = s.type_name and v.course_id = s.bk_course_id
        LEFT JOIN district d on s.kqu_id=concat(d.city_code,d.district_code)
        where v.kc_code=#{kc_code} and v.type_name =#{type_name} and d.city_code=#{city_code} and d.district_code=#{district_code}
        GROUP BY s.bk_course_id
    </select>

    <select id="getBClist1" resultType="Kb_statistic" parameterType="Kb_statistic">
        SELECT
        v.kc_code,v.type_name,v.course_id,o.name,e.juandai_spec,COUNT(s.bk_course_id) sum
        FROM total_exam_course v
        LEFT JOIN courses o on v.course_id = o.course_id
        LEFT JOIN exam e on v.kc_code = e.kc_code and v.type_name = e.type_name
        LEFT JOIN student_bk s on v.kc_code = s.kc_code and v.type_name = s.type_name and v.course_id = s.bk_course_id
        LEFT JOIN district d on s.kqu_id=concat(d.city_code,d.district_code)
        where v.kc_code=#{kc_code} and v.type_name =#{type_name} and d.city_code=#{city_code}
        GROUP BY s.bk_course_id
    </select>

    <select id="getBClist2" resultType="Kb_statistic" parameterType="Kb_statistic">
        SELECT
        v.kc_code,v.type_name,v.course_id,o.name,e.juandai_spec,COUNT(s.bk_course_id) sum
        FROM total_exam_course v
        LEFT JOIN courses o on v.course_id = o.course_id
        LEFT JOIN exam e on v.kc_code = e.kc_code and v.type_name = e.type_name
        LEFT JOIN student_bk s on v.kc_code = s.kc_code and v.type_name = s.type_name and v.course_id = s.bk_course_id
        LEFT JOIN district d on s.kqu_id=concat(d.city_code,d.district_code)
        where v.kc_code=#{kc_code} and v.type_name =#{type_name} and d.city_code=#{city_code} and d.district_code=#{district_code}
        GROUP BY s.bk_course_id
    </select>

    <select id="getExam" resultType="Kb_statistic">
         select DISTINCT(kc_code), type_name from exam
         where type_name=1
    </select>
</mapper>