<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boot.dao.UserMapper">
    <insert id="insert" parameterType="User">
        insert into t_user(name,age,address)values(#{name},#{age},#{address})
    </insert>
    <update id="update" parameterType="User">
        update t_user set address=#{address} where  id=#{id}
    </update>
    <select id="findById" parameterType="java.lang.Integer" resultType="User">
        select * from t_user where  id=#{id}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_user where  id=#{id}
    </delete>
</mapper>